version: 2.1

orbs:
  python: circleci/python@1.2

workflows:
  sample:  
    jobs:
      - build-and-test


jobs:
  build-and-test: 
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run:
          name: Run tests
          command: nvidia-smi

